<%- include('../partials/header')%>
<main>
    <% if (user) %>
            <form class="flex-center" action="/<%= purchase._id %>?_method=PUT" method="POST">
                <h1>Edit Purchase</h1>
                <label>Notes: 
                    <input name="notes" value="<%= purchase.notes%>">
                </label>
                <label>Amount: 
                    <input name="amount" value="<%= purchase.amount%>">
                </label>
                <!-- <label>Recommend:
                    <input type="checkbox" name="recommend" <%= purchase.recommend ? 'checked' : '' %> >
                </label> -->
                <input type="submit" value="SAVE">
            </form>
            <form id="delete" action="/<%= purchase._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
            </form>

        </main>
<%- include('../partials/footer')%>