<%- include('../partials/header')%>

<main id="index">
    <% purchases.forEach(function(p){ %>

        <div class="post">
            <div>Amount: $<%= p.amount %> </div>
            <div>Business:  <%= p.business %> </div>
            <div>Notes: <%= p.notes%> </div>
            <div>Recommend: <%= p.recommend%> </div>
            <input type="submit" value="EDIT">
            <input type="submit" value="DELETE">
        </div>
        <% }) %>

</main>
<%- include('../partials/footer')%>