<%- include('../partials/indexheader')%>

<main id="index">
    <% purchases.forEach(function(p){ %>
        <div class="post">
            <h6>Posted On:  <%= p.createdAt.toLocaleDateString(); %> </h6>
            <h2> <%= p.business.name %> </h2>
            <h1>$<%= p.amount %> </h1>
            <h3>Notes: <%= p.notes%> </h3>
            <div><%= p.recommend ? 'Would Recommend' : 'Would not recommend' %> </div>
            <a href="/purchases/<%= p._id%>/edit">EDIT</a>
        </div>
        <% }) %>

</main>
<%- include('../partials/footer')%>