<%- include('../partials/header')%>

<main id="index">
    <% purchases.forEach(function(p){ %>

        <div class="post">
            <div>Amount: $<%= p.amount %> </div>
            <div>Business:  <%= p.business %> </div>
            <div>Notes: <%= p.notes%> </div>
            <div>Recommend: <%= p.recommend%> </div>
            <a href="/<%= p._id%>/edit">EDIT</a>
        </div>
        <% }) %>

</main>
<%- include('../partials/footer')%>