<%- include('../partials/header')%>
<main>
    <div class="post">
        Name: 
        <div><%= business.name %></div>
        <div><%= business.city %></div>
        <div><%= business.state %></div>
        <div><%= business.zip %></div>
        <input type="submit" value="EDIT">
        <input type="submit" value="DELETE">
    </div>
</main>
<%- include('../partials/footer')%>