<%- include('../partials/header')%>
<main>
    <div class="post">
        Name: 
        <div> <%= business.name %> </div>
        <div> <%= business.city %> </div>
        <div> <%= business.state %> </div>
        <div> <%= business.zip %> </div>
    </div>
</main>
<%- include('../partials/footer')%>